.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
    width: 600px;
    margin: 10px auto;
}

.main-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 6px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    align-items: center;
}

.password-container input {
    width: 84%;
    padding-right: 40px;
    
}

.password-container .toggle-password {
    position: absolute;
    right: 48px;
    top: 50%;
    border-left: 1px solid black;
    padding-left: 7px;
    cursor: pointer;
}

input[type="submit"] {
    width: 80%;
    background-color: black;
    color: white;
    align-self: center;
    padding: 7px 0;
    margin: 20px 5px;
}

input[type="submit"]:hover {
    background-color: rgb(50, 50, 50);
}

input:focus:not(input[type="submit"]) {
    border-color: red;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    min-height: 200px;
}

li {
    margin: 10px 0;
}

.complete {
    color: rgb(180, 180, 180);
    text-decoration-line: line-through;
}

input::placeholder {
    color: rgb(200, 200, 200);
}

.main-container > div {
    margin: 10px;
    padding: 20px;
}

.progress-circle {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#000 65%, #ddd 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle-inner {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
}

.progress-text {
    position: absolute;
    font-size: 24px;
    color: #333;
}